<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="stylesheets/creative.css" type="text/css"></head>
<body>

	<div class="container">

		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">Running for children</a>
        </div>

        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                
                    
               
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

	<br>
	<br>
	<div class='col-md-4'></div>
	<div class="col-md-4 text-center">
		<form class="form-signin" data-ember-action="2">
			<h2 class="form-signin-heading">Log in</h2>
			<br>
			<p>
				<a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"> <i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"> <i class="fa fa-twitter"></i>
				</a>
			</p>
			<br>
			<input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
			<input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">

			<br>
			<button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign in</button>
			<br>
			<small class="create-account text-muted">
				Don't have an account?
				<button id="ember363" class="btn btn-primary btn-xs page-scroll">Sign Up</button>
			</small>
		</form>
	</div>
	<div class='col-md-4'></div>


</body>
</html>
