<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Save The Children</title>

    <!-- Bootstrap Core CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

		<% include partials/navbar %>
  
	<br>
	<br>
	
	<div class='col-md-4'></div>
	<div class="col-md-4 text-center">
	<form class="form-signin" data-ember-action="2">
	<h2 class="form-signin-heading">Registration</h2>
	<br>
	    	
	<input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
	<br>
	<input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">
	<input id="ember362" class="ember-view ember-text-field form-control login-input-pass" placeholder="Confirm Password" type="password">
	<br>
	<button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Register</button>
	<br>
		</form>
		</div>
	</div>
	<div class='col-md-4'></div>

	   <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>


	</body>


</html>
