<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
		<link rel="stylesheet" href="creative.css" type="text/css">
	
</head>
<body>

<div class="container">

		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand page-scroll" href="#page-top">Save The Children</a>
			</div>
        </div>
	</nav>
  
	<br>
	<br>
	
	<div class='col-md-4'></div>
	<div class="col-md-4 text-center">
	<form class="form-signin" data-ember-action="2">
	<h2 class="form-signin-heading">Registration</h2>
	<br>
	    	
	<input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
	<br>
	<input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">
	<input id="ember362" class="ember-view ember-text-field form-control login-input-pass" placeholder="Confirm Password" type="password">
	<br>
	<button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Register</button>
	<br>
		</form>
		</div>
	</div>
	<div class='col-md-4'></div>
	</body>
</html>