<<<<<<< HEAD
HAHAHAHAHAH
=======
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Track my Cause</title>

    <!-- Bootstrap Core CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<<<<<<< HEAD
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
=======
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
>>>>>>> fadd22c525e91dc923c53d4f22c366aec7d59027
    <![endif]-->

    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>

</head>
<body>
    <% include partials/navbar %>
    
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="profile-heading">John Blah</h1>
                    <hr class="primary">
                </div>
            </div>
        </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                <img src="../img/17.jpg"></img>
                </div>
                <div class="col-lg-6 text-center">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum massa sit amet justo scelerisque, sit amet efficitur est imperdiet. Vivamus eleifend dui in massa consectetur aliquam. Vivamus ultrices ipsum arcu, quis pellentesque ligula finibus at. Maecenas varius finibus eros a tempor. Fusce ac nisl ipsum. Praesent quis consequat nulla. Etiam mi quam, vestibulum volutpat ipsum sed, varius fermentum augue. Nulla facilisi. Quisque aliquet ultrices elementum. Curabitur consectetur metus quis euismod maximus. Praesent ut arcu at erat elementum gravida non vitae diam. Morbi vel libero tempus, condimentum erat eget, consectetur sem.</p>
                </div>
            </div>
        </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                <a href="#donations" class="btn btn-primary btn-xl page-scroll">Donate</a>
                </div>
                <div class="col-lg-6 text-center">
                <h3>Rasied £1232.02</h3>
                </div>
                </div>
     </div>
     <section class="bg-dark" id="donations">
        <div class="container text-center">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <h3>Donate £5</h3>
                        <hr class="primary">
                        <br>
                        <a href="#about" class="btn btn-primary btn-xl page-scroll wow bounceIn">Donate £5</a>
                    </div>
                    <div class="col-sm-6 col-md-4"><h3>Donate £15</h3>
                         <hr class="primary">
                        <br>
                        <a href="#about" class="btn btn-primary btn-xl page-scroll wow bounceIn">Donate £15</a>
                    </div>
                    <div class="col-sm-6 col-md-4"><h3>Donate more</h3>
                        <hr class="primary">
                        <br>
                        <a href="#about" class="btn btn-primary btn-xl page-scroll wow bounceIn">Donate more</a>
                    </div>
                </div>
        </div>
    </section>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

</body>
</html>


>>>>>>> master
